<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Interact</title>
<meta name="description" content="">
<meta name="author" content="">

<!-- Favicons
    ================================================== -->
<link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="../static/img/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="../static/img/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="../static/img/apple-touch-icon-114x114.png">

<!-- Bootstrap -->
<link rel="stylesheet" type="text/css"  href="../static/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="../static/fonts/font-awesome/../static/css/font-awesome.css">

<!-- Stylesheet
    ================================================== -->
<link rel="stylesheet" type="text/css" href="../static/css/style.css">
<link rel="stylesheet" type="text/css" href="../static/css/nivo-lightbox/nivo-lightbox.css">
<link rel="stylesheet" type="text/css" href="../static/css/nivo-lightbox/default.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900" rel="stylesheet">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<!-- Navigation
    ==========================================-->
<nav id="menu" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand page-scroll" href="#page-top">U-HELP</a> </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="index.html">Home</a></li>
<!--         <li><a href="#about_us" class="page-scroll">About Us</a></li> -->
        <li><a href="profile.html" class="page-scroll">Profile</a></li>
        <li><a href="donate.html" class="page-scroll">Donate</a></li>
        <!-- <li><a href="#testimonials" class="page-scroll">Testimonials</a></li>
        <li><a href="#team" class="page-scroll">Team</a></li>
        <li><a href="#contact" class="page-scroll">Contact</a></li> -->
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
</nav>
<!-- Header -->
<header id="header">
  <div class="intro">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 intro-text">
            <h1>U-Help<span></span></h1>
            <p><b>Bringing help - efficiently, transparently, directly.</b></p>
            <a href="#features" class="btn btn-custom btn-lg page-scroll">Learn More</a> </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Features Section -->
<div id="current-disasters" class="text-center">
  <div class="container">
    <div class="col-md-10 col-md-offset-1 section-title">
      <h2>Current Disasters</h2>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1 section-title">
          <h3>Listed below are the current disasters that need your help today.</h3>
        </div>
    </div>
  </div>
</div>

<!-- About Section -->
<div id="about">
  <div class="container">
    <div class="row">
      <h3>Events</h3>
      <!-- tabs left -->
      <div class="tabbable">
          <ul class="nav nav-pills nav-stacked col-md-3">
              <li><a class="active" href="townsville_flood.html" data-toggle="tab">Australia: Townsville Flooding</a></li>
              <li><a href="#Guatemala" data-toggle="tab">Guatemala: Volcanic Eruption</a></li>
              <li><a href="#Japan" data-toggle="tab">Japan: Floods</a></li>
          </ul>
          <div class="tab-content">
              <div class="tab-pane active col-md-3" id="Australia">
                <h3>Townsville Flooding: 2019</h3>
                The 2019 Townsville flood occured on the north-eastern coast of Queensland, Australia. Four fatalities have been reported. Multiple agencies are already currently on the ground assisting with recovery efforts.
              </div>
              <img src="../static/img/townsville_map.jpg" class="img-responsive" alt="" style="float: right">
              <div class="tab-pane" id="Guatemala">Guatemala information</div>
              <div class="tab-pane" id="Japan">Japan information</div>
          </div>
        </div>
        <!-- /tabs -->
    </div>
    </div>
  </div>
</div>

<!-- Gallery Section -->
<div id="portfolio" class="text-center">
  <div class="container">
    <div class="section-title">
      <h2>How we've helped in the past</h2>
      <p>Thanks to your donations, over 1,000,000 people affected by disasters have been helped to get back on their feet.</p>
    </div>
    <div class="row">
      <div class="portfolio-items">
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="../static/img/greece.jpeg" title="Greece" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Greece: Wildfires</h4>
              </div>
              <img src="../static/img/greece.jpeg" class="img-responsive" alt="Greece"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="../static/img/png.png" title="PNG" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Papau New Guinea: Earthquake</h4>
              </div>
              <img src="../static/img/png.png" class="img-responsive" alt="PNG"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="../static/img/pakistan.jpg" title="Pakistan" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Pakistan: Heat Wave</h4>
              </div>
              <img src="../static/img/pakistan.jpg" class="img-responsive" alt="Pakistan"> </a> </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div> -->

<script type="text/javascript" src="js/jquery.1.11.1.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/SmoothScroll.js"></script>
<script type="text/javascript" src="js/nivo-lightbox.js"></script>
<script type="text/javascript" src="js/jqBootstrapValidation.js"></script>
<script type="text/javascript" src="js/contact_me.js"></script>
<script type="text/javascript" src="js/main.js"></script>
</body>
</html>
