<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Interact</title>
<meta name="description" content="">
<meta name="author" content="">

<!-- Favicons
    ================================================== -->
<link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="../static/img/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="../static/img/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="../static/img/apple-touch-icon-114x114.png">

<!-- Bootstrap -->
<link rel="stylesheet" type="text/css"  href="../static/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="../static/fonts/font-awesome/../static/css/font-awesome.css">

<!-- Stylesheet
    ================================================== -->
<link rel="stylesheet" type="text/css" href="../static/css/style.css">
<link rel="stylesheet" type="text/css" href="../static/css/nivo-lightbox/nivo-lightbox.css">
<link rel="stylesheet" type="text/css" href="../static/css/nivo-lightbox/default.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900" rel="stylesheet">

<style>
        .rect {
        height: 115px;
        width: 100%;
        background-color: #58A8F6;
        /*box-shadow: 10px 10px 8px #888888;*/
        float: left;
        box-sizing:border-box;
        font-size: 15px;
        padding: 5px;
        padding-left: 15px;
        text-align: left;
        margin-top: 20px;
        color: white;
        font-size: 30px;
      }
</style>
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<!-- Navigation    ==========================================-->
<nav id="menu" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand page-scroll" href="#page-top">U-HELP</a> </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="index.html">Home</a></li>
<!--         <li><a href="#about_us" class="page-scroll">About Us</a></li> -->
        <li><a href="profile.html" class="page-scroll">Profile</a></li>
        <li><a href="donate.html" class="page-scroll">Donate</a></li>
        <!-- <li><a href="#testimonials" class="page-scroll">Testimonials</a></li>
        <li><a href="#team" class="page-scroll">Team</a></li>
        <li><a href="#contact" class="page-scroll">Contact</a></li> -->
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
</nav>
    <!-- /.navbar-collapse -->
  </div>
</nav>
<!-- Features Section -->
<div id="team">
    <div class="container">
    <div class="section-title" style="text-align: center">
      <h2>Profile</h2>
    </div>
    <div class="row">
      <div class="row">
      <div class="col-xs-4">
      <img src="../static/img/team/02.jpg" style="border-radius: 50%; margin-bottom: 25px">
    </div>
    <div class="col-xs-6">
      <br><br>

    <h3 style="font-size:28px"> Name: Mark  </h3><br>
    <h3 style="font-size:28px"> Total Contribution: $750 </h3>
    <br><br>
  </div>
    </div>
  </div>
</div>
<div id="testimonials">
  <div class="container">
    <div class="section-title" style="text-align: center">
      <h2>How have you helped</h2>
    </div>
  <div class="row" style="margin-top: 5px; padding-bottom: 10px">
    <div class="rect">
      <h3 style="font-size: 25px; color: white">Australia: Townsville Flooding</h3>
        Amount Donated: $750
        <br><br>
    </div>
    <div class="rect">
      <h3 style="font-size: 25px; color: white;">Japan: Floods</h3>
        Amount Donated: $350
        <br><br>
    </div>
  </div>
  </div>
</div>

<script type="text/javascript" src="js/jquery.1.11.1.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/SmoothScroll.js"></script>
<script type="text/javascript" src="js/nivo-lightbox.js"></script>
<script type="text/javascript" src="js/jqBootstrapValidation.js"></script>
<script type="text/javascript" src="js/contact_me.js"></script>
<script type="text/javascript" src="js/main.js"></script>
</body>
</html>
